a {
  scroll-behavior: smooth;
}

h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 5.3;
  }
  h1 em {
    font-style: normal;
    font-weight: 600;
  }
  
.event h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  .event h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #16ebcb;
  }
  .event h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
  }

.video-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust the height as needed */
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}
